*{
  margin: 0%;
  padding: 0%;
  font-family:"Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-weight: 400;
}


.imgPerfil{
margin: 40px;  
width: 149px ;
height: 270px ;
border-radius: 15px;
border: 5px solid pink
}




h4{
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal
}



 
 .fa-brands:hover{
  
transform: scale(1.5);
 }

 footer{
  background-color: black;
  color: aliceblue;
  
 }

 .zapato1{
display: flex;
justify-content: center;

 }
 .zapato2{
display: flex;
justify-content: center;

 }

 .padre{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
 }
 .foto{
  
  width: 30rem;
 }
