*{
  margin: 0%;
  padding: 0px;
  font-family:"Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-weight: 400;
}

.imgPerfil{
margin: 40px;  
width: 150px ;
height: 290px ;
border-radius: 15px;
border: 6px solid rgb(193, 139, 240)
}
.perfilP{
  text-align: left;
}


h4{
  text-align: start;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal
}
.titulo{
  padding: 18px;
  margin: 8px;
}

 .fa-brands:hover{
  
transform: scale(1.5);
 }

 .section1{
  padding: 18px;
  margin: 8px;
 }
.iconos{
  padding: 20px;
  margin: 10px;
}
.section2{
  padding: 18px;
  margin: 8px;
}

 footer{
  background-color: black;
  color: aliceblue;
  
 }
/* Estilo footer*/
 .zapato1{
display: flex;
justify-content: center;
 }
 .zapato2{
display: flex;
justify-content: center;
 }


 /* Estilo Pagina Portafolio*/

 .padre{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  text-align: justify;
 }
 .foto{
  width: 28rem;
  padding: 8px;
}

